.links {
  background-color: black;
  padding: 100px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: limerick-serial-heavy, helvetica;
  text-align: center;
}

.links a {
  text-decoration: none;
  color: cornsilk;
}
.links a:hover {
  color: aquamarine;
  text-decoration: underline;
}

.home {
    float: left;
}
.js {
    float: right;
}

p {
  text-align: right;
}

h2 {text-align: right;
}

div {padding: 50px;
}
